* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Terminus, Termsyn, Siji, Sazanami Mincho;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    /* background-color: rgba(25, 17, 30, 1.0); */
    background-color: #272822;
    /*border-bottom: 3px solid rgba(25, 17, 30, 1.0); */
    color: #d8d6d7;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: #272822;
    color: #AB9C99;
    border-bottom: 3px solid #272822;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #272822;
    color: #d8d6d7;
}

#workspaces button.urgent {
    background-color: #272822;
    color: #d8d6d7;
    border-bottom: 3px solid #AF2E0E;
}

#mode {
    background-color: #272822;
    border-bottom: 3px solid #AF2E0E;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#clock {
    background-color: #272822;
    color: #d8d6d7;

}

#battery {
    background-color: #272822;
    color: #f8f8f2;
}

#battery.charging {
    color: #f8f8f2;
    background-color: #272822;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #272822;
    color: #d8d6d7;
}

#memory {
    background-color: #272822;
    color: #f8f8f2;
}

#backlight {
    background-color: #272822;
    color: #f8f8f2;
}

#network {
    background-color: #272822;
    color: #f8f8f2;
}

#network.disconnected {
    background-color: #272822;
    color: #f8f8f2;
}

#pulseaudio {
    background-color: #272822;
    color: #f8f8f2;
}

#pulseaudio.muted {
    background-color: #272822;
    color: #f8f8f2;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #272822;
    color: #f8f8f2;
}

#temperature.critical {
    background-color: #272822;
    color: #f8f8f2;
}

#tray {
    background-color: #272822;
    color: #f8f8f2;
}

#idle_inhibitor {
    background-color: #272822;
    color: #f8f8f2;
}

#idle_inhibitor.activated {
    background-color: #272822;
    color: #f8f8f2;
}

#mpd {
    background-color: #272822;
    color: #f8f8f2;
}

#mpd.disconnected {
    background-color: #272822;
    color: #f8f8f2;
}

#mpd.stopped {
    background-color: #272822;
    color: #f8f8f2;
}

#mpd.paused {
    background-color: #272822;
    color: #f8f8f2;
}   
